{% extends "layout.html"%}
{% block content %}

<div class="taurtable">
    <table>
        <tr>
            <th>Sr. No.</th>
            <th>Traveler</th>
            <th>Destination</th>
            <th>Date Of Journey</th>
            <th>Number Of people</th>
            <th>Address</th>
            <th>Amout Paid</th>
            
        </tr>
        {% for tour in tour.query.filter_by(place = place) %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.query.get(tour.traveler_id).first }} {{ user.query.get(tour.traveler_id).last }}</td>
            <td>{{ tour.place }}</td>
            <td>{{ tour.doj.strftime('%d-%m-%Y') }}</td>
            <td>{{ tour.nop }}</td
            ><td>{{ user.query.get(tour.traveler_id).add1 }} ,{{ user.query.get(tour.traveler_id).add2 }} , {{ user.query.get(tour.traveler_id).add3 }} ,{{ user.query.get(tour.traveler_id).add4 }} , {{ user.query.get(tour.traveler_id).state }} ,{{ user.query.get(tour.traveler_id).city }} </td>
            <td>{{ tour.total_amt }}</td>
            

        </tr>
        {% endfor %}
    </table>
</div>



{% endblock %}